*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --dark-color: #535962;
    --yellow-color: #ECE493;
    --light-blue-color: #84A1BE;
    --darker-blue-color: #5C7893;
    --content-max-width: 60rem;
}

html {
    font-family: 'Alegreya Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

body {
    background-color: var(--dark-color);
}

.loading {
    display: none;
    width: 2rem;
    height: 2rem;
    border: 4px solid var(--yellow-color);
    border-top: 5px solid var(--light-blue-color);
    border-radius: 100%;
    margin: auto;
    animation: spin 1s infinite linear;
}

.loading.active {
    display: block;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

nav {
    position: sticky;
    top: 0;
    z-index: 100;
    width: 100%;
    background-color: var(--darker-blue-color);
    padding: .75rem 2rem .75rem 2rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
    align-items: center;
    margin-bottom: 2rem;
}

nav h1 {
    font-size: 2rem;
    font-weight: bold;
    color: white;
}

.searchbar {
    width: min(100%, 32rem);
}

.searchbar .search-input {
    position: relative;
}

.searchbar > .search-input > input {
    font-size: 1rem;
    width: 100%;
    padding: .6rem 2.2rem .6rem .75rem;
    border: none;
    border-radius: .15rem;
}

.error .error-message {
    color: white;
    font-style: italic;
    font-size: .95rem;
    overflow: hidden;
    max-height: 0;
    transform: translateY(-8px);
    transition: 200ms;
}

.error .error-message.active {
    max-height: 12.5rem;
    padding: .25rem 0 0 .25rem;
    transform: translateY(0);
}

.searchbar input:focus {
    outline: none;
}

.searchbar .search-icon {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    margin: 0 .25rem 0 .25rem;
    font-size: 1.75rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.unit-switcher {
    background-color:  rgba(255, 255, 255, 0.56);
    color: var(--dark-color);
    border-radius: 1.875rem;
    width: 6rem;
    overflow: hidden;
    text-align: center;
    font-size: 1rem;
    position: relative;
    padding-right: 3rem;
}

.unit-switcher::before {
    content: 'F°';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    width: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    pointer-events: none;
}

.unit-switcher input[type="checkbox"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

.unit-switcher input[type="checkbox"]:checked + .switch-label::before {
    transform: translateX(3rem);
    transition: transform 300ms linear;
}

.unit-switcher .switch-label {
    position: relative;
    padding: .15rem 0;
    display: block;
    user-select: none;
    pointer-events: none;
}

.unit-switcher .switch-label::before {
    content: "";
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 30px;
    transform: translateX(0);
    transition: transform 300ms;
}

.unit-switcher .switch-label-span {
    position: relative;
}

.container.hidden {
    visibility: hidden;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    margin-bottom: 3rem;
}

.current-weather-data {
    display: grid;
    gap: 4rem;
}

.current-weather-data .basic-data > ul,
.current-weather-data .advanced-data > ul {
    list-style: none;
    text-align: center;
    width: 100%;
}

/* BASIC DATA */
.basic-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: var(--yellow-color);
    border-radius: .35rem;
    gap: 2rem;
    margin: 0 auto;
    width: min(90%, 38rem);
    position: relative;
}

.basic-data > .location {
    background-color: var(--light-blue-color);
    width: 100%;
    text-align: center;
    border-radius: .35rem .35rem 0 0;
    padding: .5rem;
    font-size: 1.15rem;
}

.basic-data > .location-data {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.basic-data > .location-data > * {
    flex-basis: 100%;
}

.basic-data > .location-data > picture {
    display: flex;
    justify-content: center;
}

.basic-data > .location-weather-description {
    font-size: 1.2rem;
    font-weight: 600;
    padding-bottom: .5rem;
}

.degrees {
    font-size: 2.5rem;
    position: relative;
}

/* ADVANCED DATA */
.advanced-data {
    background-color: var(--light-blue-color);
}

.advanced-data > ul {
    display: grid;
    gap: .25rem;
    max-width: var(--content-max-width);
    margin: 0 auto;
}

.advanced-data > ul > li {
    padding: .75rem 0;
}

/* WEEK DATA */
.daily-weather-data {
    color: white;
    width: min(90%, var(--content-max-width));
    align-self: center;
    font-size: .9rem;
}

.daily-weather-data > .row {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 1fr;
    border-bottom: 1px solid var(--yellow-color);
    place-items: center;
    padding: .5rem 0;
}

.daily-weather-data > .row:first-child {
    padding-bottom: .5rem;
}

.daily-weather-data > .row > * {
    width: 100%;
    text-align: center;
}

.daily-weather-data > .row > div:first-child {
    text-align: left;
    padding-left: .75rem;
}

.daily-weather-data > .row > div:last-child {
    text-align: right;
    padding-right: .75rem;
}

.daily-weather-data > .row > div:nth-child(2) > img {
    margin: 0 auto;
}

.daily-temp-value {
    display: flex;
    gap: .1rem;
    font-size: 1.1em;
    justify-content: flex-end;
}

.daily-temp-value > .low-temp-value {
    font-size: .9em;
    align-self: flex-end;
}

.daily-humidity-title,
.daily-rain-probability-title,
.daily-humidity,
.daily-rain-probability {
    display: none;
}

.daily-weather-icon {
    display: grid;
    place-items: center;
}

@media (min-width: 481px) {
    .degrees {
        font-size: 4rem;
    }

    .basic-data > .location-weather-description {
        font-size: 1.5rem;
    }

    .advanced-data > ul {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(4, 1fr);
    }

    .daily-weather-data {
        font-size: 1rem;
    }

    .daily-rain-probability-title,
    .daily-rain-probability {
        display: block;
    }
}

@media (min-width: 768px) {
    .degrees {
        font-size: 5rem;
    }

    nav {
        flex-direction: row;
        justify-content: space-between;
    }

    .advanced-data > ul {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        padding: 1.5rem 0;
        font-size: 1.1rem;
    }

    .daily-humidity-title,
    .daily-humidity {
        display: block;
    }
}

footer {
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: auto;
    width: 100%;
    background-color: var(--darker-blue-color);
    color: white;
    padding: 1rem;
}
